[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
networkx = "*"
imageio = "*"
matplotlib = "*"
geopandas = "*"
earthengine-api = "*"
google-api-python-client = "*"
requests = "*"
scikit-learn = "*"
geopy = "*"
plotly = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
