[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch_cpu"

[packages]
pandas = "*"
torch = {version="*", index="pytorch_cpu"}
torchvision = {version="*", index="pytorch_cpu"}
torchaudio = {version="*", index="pytorch_cpu"}
networkx = "*"
imageio = "*"
matplotlib = "*"
geopandas = "*"
earthengine-api = "*"
google-api-python-client = "*"
requests = "*"
scikit-learn = "*"
geopy = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
